@charset "utf-8";

body{
  background-color: #303030;
}

#wrap{
  width: 1160px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

#header{
  width: 100%;
  /* background-color: cornflowerblue; */
}

.headerIn{
  width: 1100px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* background-color: skyblue; */
}

.logo a{
  display: block;
  font-size: 40px;
  line-height: 40px;
  margin-left: 20px;
  padding: 10px;
  /* background-color: red; */
}

.gnb ul{
  display: flex;
}

.gnb li{
  margin-right: 10px;
}

.gnb li a{
  font-size: 20px;
  display: block;
  padding: 20px;
  /* background-color: red; */
}

/* #container{
  background-color: cornflowerblue;
} */

.mainIn{
  width: 1100px;
  height: 90vh;
  margin: 0 auto;
  /* background-color: skyblue; */
}

.main_fst{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  display: none;
}

.chrSearch{
  width: 550px;
}

.chrSearch .searchBox{
  width: 500px;
  color: #222;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

.chrList{
  width: 50%;
}

.chrList ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.character{
  width: 45%;
  height: 80px;
  /* background-color: cornflowerblue; */
  border: 3px solid #a19538;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  margin: 10px;
}

.character a{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  /* background-color: cornflowerblue; */
}

.chrInfo{
  font-size: 20px;
  line-height: 28px;
  margin-left: 20px;
}

.charName{
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main_snd{
  /* display: none; */
  margin-top: 20px;
}

.characterList ul{
  display: flex;
}

.characterList .character{
  height: 60px;
  opacity: 0.5;
}

.characterList .active{
  opacity: 1;
}

.characterList .classPic{
  margin-right: 20px;
}

.characterList .charName{
  font-size: 18px;
}

.characterList .charLevel{
  font-size: 13px;
  line-height: 15px;
}

#footer{
  width: 100%;
  padding: 20px;
  /* background-color: red; */
  position: fixed;
  bottom: 0;
  left: 0;
}

#footer ul{
  display: flex;
  justify-content: center;
}

#footer li{
  margin: 0 10px;
}