@charset "utf-8";

body {
  background-color: #303030;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

#header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  /* background-color: skyblue; */
}

#wrap {
  width: 1160px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.logo a {
  display: block;
  font-size: 40px;
  line-height: 40px;
  margin-left: 20px;
  padding: 10px;
  /* background-color: red; */
}

.gnb ul {
  display: flex;
}

.gnb li {
  margin-right: 10px;
}

.gnb li a {
  font-size: 20px;
  display: block;
  padding: 20px;
  /* background-color: red; */
}

/* #container{
  background-color: cornflowerblue;
} */

.mainIn {
  width: 1100px;
  height: 90vh;
  margin: 0 auto;
  /* background-color: skyblue; */
}

.main_fst {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* display: none; */
}

.chrSearch {
  width: 550px;
}

.chrSearch .searchBox {
  width: 500px;
  color: #222;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

.chrList {
  width: 50%;
}

.chrList ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.character {
  width: 45%;
  height: 80px;
  /* background-color: cornflowerblue; */
  border: 3px solid #a19538;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  margin: 10px;
}

.character a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  /* background-color: cornflowerblue; */
}

.chrInfo {
  font-size: 20px;
  line-height: 28px;
  margin-left: 20px;
}

.charName {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main_fst .chrList .character {
  position: relative;
}

.main_fst .chrList .character .over {
  opacity: 0.9;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 0;
  background-color: #111;
  position: absolute;
  top: 0;
  left: 0;
}

.main_fst .chrList .character .over p {
  opacity: 0;
  text-indent: -999999px;
  background-size: 100%;
  position: absolute;
}

.main_fst .chrList .character .over .moveToNext {
  width: 30px;
  height: 30px;
  background-image: url(/img/icon/right-arrow.png);
  left: 45%;
}

.main_fst .chrList .character .over .deleteChracter {
  width: 15px;
  height: 15px;
  background-image: url(/img/icon/clear.png);
  top: 8px;
  right: 8px;
}

.main_snd {
  display: none;
  margin-top: 20px;
}

.main_snd .backBtn a {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -999999px;
  background-image: url(/img/icon/back.png);
  background-size: 100%;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  text-indent: -999999px;
  background-color: #444;
  border-radius: .5rem;
  margin: 0 5px;
}

.slick-dots .slick-active {
  background-color: #fff;
}

.characterList .characterBox .slick-track {
  display: flex;
}

.characterList .character {
  width: 270px;
  height: 60px;
  opacity: 0.5;
}

.characterList .active {
  opacity: 1;
}

.characterList .classPic {
  margin-right: 20px;
}

.characterList .charName {
  font-size: 18px;
}

.characterList .charLevel {
  font-size: 13px;
  line-height: 15px;
}

.toDoList .listItem {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  background-color: #444;
  margin: 15px 0;
  padding: 10px 0;
}

.toDoList .listBox {
  display: flex;
  /* width: 15%; */
  border: 3px solid #555;
  margin: 10px;
  padding: 10px;
}

.toDoList .dayWeekWrap {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.toDoList .dayWeekWrap .daily {
  width: 33%;
  margin: 0;
}

.toDoList .dayWeekWrap .weekly {
  width: 66%;
  margin: 0;
}

.toDoList .listBox .icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.toDoList .listBox .icon img {
  width: 100%;
  height: 100%;
}

.toDoList .listBox .contentWrap label {
  margin-right: 5px;
}

#footer {
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  /* background-color: red; */
}

#footer ul {
  display: flex;
  justify-content: center;
}

#footer li {
  margin: 0 10px;
}